/* div {
	border:1px solid red;
} */
.olivia .nav.navbar-nav {
	background-color: 0;
    border: none;
}
/* .olivia .nav_pad > li > a {
	padding:10px;	
} */
.olivia .nav.navbar-nav > li > a {
	padding: 10px 20px 10px 20px;
	/* padding: 13px 13px 13px 13px; */
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
    border: none;	
	color:#ffffff;
	font-weight:bold;
	
	
}
.olivia .nav.navbar-nav > li > a:hover {
	background-color:#a62ad7;
	border-radius:25px;
	font-family: 'Open Sans', sans-serif;
    border: none;
	color:#ffffff;
}
.olivia .pad_top {
	padding-top:22px;
}
.olivia .pad_top {
	background-color: rgba(0, 0, 255, 0);
}
/* .olivia .logo_top {
	padding-top:10px;
} */
header {
    position: fixed;
    width: 100%;
    padding: 50px 0 10px !important;
    z-index: 5;
    transition: all 0.4s ease;
	width:100%;
}
header.sticky {
            position: fixed;
            background: -moz-linear-gradient(0deg, rgba(175,97,226,1) 0%, rgba(118,146,241,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(175,97,226,1)), color-stop(100%, rgba(118,146,241,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(0deg, rgba(175,97,226,1) 0%, rgba(118,146,241,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(0deg, rgba(175,97,226,1) 0%, rgba(118,146,241,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(0deg, rgba(175,97,226,1) 0%, rgba(118,146,241,1) 100%); /* ie10+ */
background: linear-gradient(90deg, rgba(175,97,226,1) 0%, rgba(118,146,241,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af61e2', endColorstr='#7692f1',GradientType=1 ); /* ie6-9 */
			/* padding:10px 0 10px !important; */
			padding: 14px 0 0px !important;
			box-shadow: 1px 2px 5px 0px rgba(1, 2, 2, 0.5);
        }

/* header {
	 background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(175,97,226,1)), color-stop(100%, rgba(118,146,241,1)));
   background: -webkit-linear-gradient(0deg, rgba(175,97,226,1) 0%, rgba(118,146,241,1) 100%); 
} */
/* .olivia .hed_top {
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(175,97,226,1)), color-stop(100%, rgba(118,146,241,1)));
} */
.olivia .navbar-default {
    background-color: rgba(0, 0, 255, 0) ;
    border-color:rgba(0, 0, 255, 0);
}
.olivia .section_1 {
	background: url(images/bannerbg.jpg) no-repeat center center;
    min-height: 990px;
    display: block;
    background-size: cover;
    padding-top: 200px;
}
.olivia .hello {
	font-size:60px;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	padding-top:35px;
	font-weight:bold;
}
.olivia .hello_descrp {
	padding-top:30px;
	font-size:16px;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	line-height:30px;
}
.olivia .freedownload {
	padding-top:35px;
	font-size:28px;
	color:#ffffff;
/* 	 font-family: 'Open Sans', Semibold; */
}
.olivia .googlelink {
	padding-top:8px;
}
.olivia .section_2 {
	background: url(images/amazingbg.jpg) no-repeat center center;
    display: block;
    min-height: 840px;
    background-size: cover;
    text-align: center;
}
.olivia .amazings_features {
	 padding-top:75px; 
	font-size:60px;
	color:#3b434d;
	font-family: 'Open Sans', sans-serif;
}
.olivia .amazings_features_descrp {
	padding-top:35px; 
	font-size:16px;
	color:#3b434d;
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	padding-bottom:80px;
}
.olivia .contact_icon {
	margin:auto;
}
.olivia .contact_list_caption {
	font-size:30px;
	color:#3b434d;
	font-family: 'Open Sans', sans-serif;
	padding-top:10px; 
}
.olivia .contact_list_text {
	font-size:16px;
	color:#3b434d;
	font-family: 'Open Sans', sans-serif;
	padding-top:10px; 	
	line-height: 30px;
}
.olivia .amazing_three {
	padding-top:100px; 	
}
.olivia .contact_list img:hover {
	background: url(images/full_hover.png);
}
.olivia .listen_music img:hover {
	background: url(images/listen_hover.png);	
}
.olivia .image_gallery img:hover {
	background: url(images/image_g_hover.png);
}
.olivia .section_3 {
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(123,141,239,1)), color-stop(100%, rgba(171,99,227,1)));
	min-height:710px;
}
.olivia .newapp {
	font-size:60px;
	color:#ffffff;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	padding-top:60px;
	padding-bottom:50px;
}
.olivia .left_foo_icon {
	width: 10%;
    float: left;
    display: block;
    font-size: 40px;
}
.olivia .credibly {
	font-size:20px;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
}	
.olivia .credibly_descrp {
	font-size:16px;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	line-height:25px;
	padding-top:6px;
	margin-left: 54px;
}
.olivia .foo_color {
	color:#ffffff;
	
}
.olivia .list_1 {
	padding-top:33px;
}
.olivia .hand_img {
	margin-left: 30px;
    padding-top: 48px;
}
.olivia .section_4 {
	background: url(images/screenshotbg.jpg) no-repeat center center;
    background-size: cover;
    min-height: 890px;
    padding: 100px 0;
}
.olivia .screen_shot {
	font-size:48px;
	color:#3b434d;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 60px;
}
.olivia  .section_5{
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(175,97,226,1)), color-stop(100%, rgba(118,146,241,1)));
}
.olivia .app_support {
	font-size:48px;
	color:#3b434d;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	padding-top:110px;
}
.olivia .app_support_descrp {
	font-size:28px;
	color:#3b434d;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	padding-top:20px;
}
.olivia .rush_left {
	display:inline-block;
	float:left;
	width:60%;
	text-align:right;
}
.olivia .john_right {
	display:inline-block;
	float:right;
	width:40%;
}
.olivia .micheal_rush {
	font-size:18px;
	color:#3b434d;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
    font-weight: 600;
}
.olivia .rush_left span {
	/* font-size:16px;
	color:#3b434d;
	font-family: 'Open Sans', sans-serif; */
	font-size: 16px;
    line-height: 24px;
    text-align: right;
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #3b434d;
    display: block;
}
.olivia .support_inner {
	font-size: 16px;
    line-height: 24px;
    text-align: right;
    margin: 0 0 10px;
	font-family: 'Open Sans', sans-serif;
}
.olivia .support_img_1 {
	margin-left:25px;
	margin-top:8px;
	border-radius: 50%;
    border: 3px solid #4183f1;
    padding: 5px;
}
.olivia .support_data_top {
	padding-top:20px;
}
.olivia .paul_left {
	display:inline-block;
	float:left;
	width:40%;
}
.olivia .paul_right {
	display:inline-block;
	float:right;
	width:60%;
}
.olivia .paul_right span {
	/* font-size:16px;
	color:#3b434d;
	font-family: 'Open Sans', sans-serif; */
	font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #3b434d;
    display: block;
}
.olivia .support_inner_2 {
	font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin: 0 0 10px;
	font-family: 'Open Sans', sans-serif;
}
.olivia .support_img_2 {
	margin-right:25px;
	margin-top:8px;
	border-radius: 50%;
    border: 3px solid #4183f1;
    padding: 5px;
}
.olivia .support_img_3 {
	margin-left:25px;
	margin-top:8px;
	border-radius: 50%;
    border: 3px solid #4183f1;
    padding: 5px;
}
.olivia .support_img_4 {
	margin-right:25px;
	margin-top:8px;
	border-radius: 50%;
    border: 3px solid #4183f1;
    padding: 5px;
}
.olivia .support_inner_4 {
	font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin: 0 0 10px;
	font-family: 'Open Sans', sans-serif;
}
.olivia .section_6 {
	padding-bottom: 140px;
}
.olivia .section_7 {
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(123,141,239,1)), color-stop(100%, rgba(171,99,227,1)));
}
.olivia .news_letter {
	font-size: 60px;
	color:#ffffff;
	text-align:center;
	padding-top:80px;
	font-family: 'Open Sans', sans-serif;
}
.olivia .news_letter_sub {
	font-size: 16px;
	color:#ffffff;
	text-align:center;
	padding-top:35px;
	font-family: 'Open Sans', sans-serif;
	line-height:30px;
}
.olivia .form-control {
	background-color: rgba(0,0,0,0) !important;
	display:inline-block;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 4px;
	width:415px;
	height:50px;
	text-align:center;
}
.olivia .form-group {
	display:inline-block;
	float: left;
	width:100%;
	padding-top:40px;
	padding-bottom:100px;
}
.olivia .suscribe {
	background: url(images/message.png) no-repeat 5px center;
	display:inline-block;	
}
.olivia .suscribe_btn {
	display: inline-block;
    color: #ffffff;
    background: #a62ad7;
    height: 50px;
    width: 160px;
    border-radius: 5px;
    font-weight: 600;
    margin-top:-9px;
	text-align:center;
	border:none;
}
.olivia .suscribe_btn:hover {
	background-color: #507cbe;
}
.olivia .section_8 {
	padding: 100px 0 0;
    background: url(images/blogbg.jpg) no-repeat center center;
    min-height: 890px;
    background-size: cover;
    display: block;
}
.olivia .bubble {
	display:inline-block;
	float:left;
	position:relative;
	width:70px;
	height:100px;
	padding:10px;
	background:#a62ad7;
	border-radius:0px;
}
.olivia .bubble :hover {
	background: #4183f1;
    transition: all 0.5s;
}
.olivia .blogleft span.blogsmall {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    line-height: 20px;
}
.olivia .blogleft {
    width: 20%;
    float: left;
    display: block;
    text-align: center;
}
.olivia .blogright {
    width: 80%;
    float: left;
    display: block;
}
.olivia .section_9 {
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(175,97,226,1)), color-stop(100%, rgba(118,146,241,1)));
}
.olivia .get_in_touch {
	font-size:60px;
	color:#ffffff;
	text-align:center;
	padding-top:80px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}
.olivia .get_in_touch_sub {
	font-size:16px;
	color:#ffffff;
	text-align:center;
	padding-top:25px;
	line-height:30px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom:30px;
}
/* .olivia .inp_4 {
	border:none;
	border-radius:0px;
} */


.olivia .contactform input[type="text"] {
    width: 100%;
    border: none;
    height: 44px;
    padding: 0 10px;
}

.olivia .contactform textarea {
    width: 100%;
    border: none;
    height: 160px;
    margin-top: 25px;
    padding: 0 10px;
}
.olivia .nopadding {
	padding:0px;
}
.olivia .contactform input[type="submit"] {
    height: 50px;
    width: 535px;
    text-align: center;
    background: #a62ad7;
    border: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: -10px;
    position: relative;
    bottom: 30px;
}
.olivia .contactform input[type="submit"]:hover {
    background: #4183f1;
    transition: all 0.5s;
}
.olivia .social {
    text-align: center;
    margin-bottom: 30px;
}
.olivia .social ul {
    list-style: none;
}
.olivia .social ul li {
    display: inline-block;
    margin: 0 10px;
}
.olivia .left.carousel-control {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
}
.olivia .right.carousel-control {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0) 100%);
}
.olivia .oliva_blog_post {
	font-size:60px;
	color:#3b434d;
	text-align:center;
	padding-bottom:65px;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}
.olivia .number {
	font-size: 36px;
    color: #fff;
    font-weight: 800;
	text-align:center;
}
.olivia .month {
	font-size: 18px;
    color: #fff;
	text-align:center;
}
.olivia .bubble {
	position:relative;
	width:70px;
	height:100px;
	padding:10px;
	
}
.olivia .bubble:hover {
	background: #4183f1;
    transition: all 0.5s;
}

.olivia .blogbix {
	padding-top:50px;
}
.olivia .blogright h4 {
	
    font-weight: 500;
    line-height: 1.1;
    color: #3b434d;
	font-size:18px;
}
.olivia .left_img {
	width: 25%;
    float: left;
    display:inline-block;
}
.olivia .caur_img {
	max-width: 100%;
    display: block;
}
.olivia .righttext {
	width: 75%;
    float: right;
    display:inline-block;
	color:#ffffff;
	
}
.olivia .quote {
	margin-bottom: 30px;
    display: block;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:500;
	line-height:30px;
}
.olivia .righttext p {
	font-size:16px;
}
.olivia .freedownload {
font-size:15px;
	
}
.olivia .carousel-inner {
	padding-bottom:100px;
}
.olivia .carousel_padding .item.active {
	padding:100px 0px;
}	
.olivia .carousel_padding .item {
	
	padding:100px 0px;
}